body {
    background-color: #A52A2A;
}

h1 {
    color: #2563eb;
    font-size: 100px;
}

img {
    width: 400px;
    border-radius: 12px;
}

button {
    background-color: #2563eb;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
}

body {
background-color: #f1f5f9;
padding: 40px;
}

button:hover {
background-color: #1e40af;
}